.logo-header {
  width : 8rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 0 solid #e2e8f0;
 
}


.sm-block {
  display: block;
}


.liste-style{
  margin-left: 38rem;
  margin-right: 38rem;
} 

.sheader-style {
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  /* z-index: 3; */
 
}

.text-style-2x1 {
  font-size: 1.5rem;
  
}

.white-color {
  color:#fff;
}

.ml-1{
  margin-left: 1rem;
}

.mt--2{
  margin-top: -2px;
}

.user-btn-bg {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(6, 190, 225);
  border:none;
  width: 2rem;
  padding-bottom: 2%;
  padding-left: 6%; 
  
}

.logged-user-btn-bg {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #98b8fd;
  border:none;
  width: 1.5rem;
  padding-bottom: 2%;
  padding-left: 5%;
  height: 1.6rem; 
}



.user-btn-bg:hover { 
  background-color: #40a9ff;
}

.stock-btn {
  border: none;
  color: #e3e3e3;
  background-color: transparent;

}


.p-1{
  padding: 1rem;
}

.shadow{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 
  0 1px 2px 0 rgba(0,0,0,.06);
}

.mt-4 {
  margin-top: 4rem;
}

.min-h-100vh{
  min-height: 86vh;
}

.filter-style {
  top: 64px;
  position: sticky;
  z-index: 2;
  display: flex;
  padding-top: 1rem;
}

.pt-1{
  padding-top: 1rem;
}

.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.justify-between{
  justify-content: space-between;
}

.justify-start{
  justify-content: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex{
  display: flex;
}

.filter{
  width: 14rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  min-width: 15rem;
}

.bg-gray-200{
  background-color: #edf2f7;
}

.bg-white{
  background-color: white;
}

.flex-1{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

