
.LoginPage {
  height: 100vh;
  display: flex;
  /* margin: auto; */
}

.logo {
  width: 160px;
  margin-bottom: 25px;
  margin-left: 2rem;
  max-width: 100%;
  height: auto;
  margin-left: 170px;
  margin-right: 100px;
}


.form {
  margin-left: 150px;
  margin-right: 150px;
  padding: 2rem;
 

  
}

.Border{
  border-width: 1px;
  border-radius: .5rem;
  width: 100%;
  max-width: 50%; 
}

.Style-bg-gray {
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.Style-shadow {
  background-color: #f2f2f2;
}


.Login-head {
  font-size: 1rem;
}

.Style-margin-bottom30 {
  margin-bottom: 30px;
}

.s-h-32 {
  height: 32px;
}

.s-ml-20 {
  margin-left: 25px;
}

